.list-group{
    width: 200px;
    font-size: 14px;
    position: absolute;
    /* width:max-content; */
}

.list-group-item{
    display: flex;
    align-items: center;
    width: 200px;
    gap: 5px;
}

p {
    margin-bottom: 0px;   
}

.carousel{
    width: 500px;
    height: 312px;
    overflow: hidden;
    border-radius: 5px;
}

.form-check{
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-check-input[type=radio]{
    border: 1px solid #000;
}

.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label{
    opacity: 1;
}

.form-check-input:checked{
    background-color: #0094DA;
    border-color: #0094DA;
}

.