
/* Обычный */
@font-face {
	font-family: 'Morning Breeze';
	font-style: normal;
	font-weight: normal;
	src: local('Morning Breeze'),
		url('/MorningBreeze/MorningBreeze.otf') format('opentype'),
        url('/MorningBreeze/MorningBreezeRegular.woff2') format('woff2'),
        url('/MorningBreeze/MorningBreezeRegular.woff') format('woff');;
}

/* Жирный */
@font-face {
	font-family: 'Morning Breeze';
	font-style: normal;
	font-weight: bold;
	src: local('Morning Breeze Bold'),
		url("/MorningBreeze/MorningBreeze-Bold.otf") format('opentype');
}

@font-face {
	font-family: 'Bookerly';
	font-style: normal;
	font-weight: normal;
	src: local('Bookerly'),
		url('/Bookerly/Bookerly.ttf') format('opentype');
}

@font-face {
	font-family: 'Bookerly';
	font-style: normal;
	font-weight: bold;
	src: local('Bookerly'),
		url('/Bookerly/Bookerly Bold.ttf') format('opentype');
}

@keyframes forButton {
    to {background-color: #787878;}
}

body {
    width:100%;
    margin:0;
    background-color:#ffffff;
    font-family: 'Bookerly';
    font-size:12px;
    display:inline-flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
    line-height: 1.5;
}

.header{
    position: sticky;
    width: 100%;
    top:0px;
    z-index: 100;
    box-shadow: 4px 0px 10px rgb(119, 119, 119, 0.5);
}

.header__upper-head {
    font-weight: 700;
    font-size: 15px;
    height:50px;
    width: 100%;
    color:#F1F1F1;
    background-color: #94d0fe;
    /* background-color: #0c7ca4; */
    z-index: 101;
    justify-content:center;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
}

.upper-head__wrap {
    width: 1250px;
    justify-content: space-between;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
}
/* .page_black {
    background-color: #000000;
} */

.lower-head__button-for-navigation-menu {
    display: flex;
    width: 45px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    display: none;
}

.location {
    text-decoration: none;
}

.location:hover {
    text-decoration: underline;
    text-decoration-color: #FFF;
}

.location__sign {
    display:inline;
}

.location__city {
    padding-left: 15px;
    display:inline;
    color: #FFF;
}

.upper-head__location {
    display:inline;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
}

.upper-head__navigation, nav {
    width: 428px;
    justify-content: space-between;
    display:inline-flex;
    flex-direction: row;
}

.nav__link {
    color: #FFF;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.information-and-entrance {
    display:inline-flex;
    justify-content: flex-end;
    width: 400px;
    flex-direction: row;
    align-items: center;
}

.information-and-entrance__information {
    display:inline-flex;
    flex-direction: row;
    align-items:center;
    gap: 37px;
}
.information-and-entrance__working-time {
    display: inline;
}

.information-and-entrance__number {
    font-size: 20px;
    display: inline;
    color:#0094DA;
    display: none;
}

.information-and-entrance__wrap-for-entrance{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.entrance {
    display: inline-flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
    font-size: 13px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    height: 50px;
}

.entrance__icon{
    /* color: black; */
}

.entrance:hover {
    text-decoration: underline;
    color: black;
}

.header__lower-head {
    font-weight: 700;
    font-size: 15px;
    height:60px;
    width: 100%;
    color:#000000;
    justify-content:center;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
}

.lower-head__wrap {
    width: 1250px;
    justify-content: space-between;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
}

.lower-head__wrap-for-left-element {
    display: flex;
    width: 142px;
}

.lower-head__wrap-for-right-element {
    display: flex;
    gap: 10px;
}

.lower-head__wrap-for-right-element:hover{

}

.lower-head__cart{
    display: flex;
    color: #000;
    text-decoration: none;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.lower-head__cart-icon{
    width: 20px;
    height: 20px;
    /* color:#000000 */
}

.lower-head__emblem {
    display: none;
    height: 60px;
}

.lower-head__entrance{
    display:none;
}

.lower-head__menu{
    display:none;
}

.emblem{
    height: 110px;
    justify-items: flex-start;
    position: absolute;
    top: 0px;
}
.upper-head__wrap-for-emblem{

}

.lower-head__categories-navigation {
    width: 700px;

    gap: 50px;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
}

.categories-navigation__option {
    box-sizing: border-box;
    height: 60px;
    padding-left: 7px;
    padding-right: 7px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 3px solid #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.categories-navigation__option:hover {
    color:#0094DA;
    border-bottom: 3px solid #0094DA;
}

.categories-navigation__wrap-for-link {
    text-align: center;
    text-indent: 0px;
}

.lower-head__buttons {
    display: inline-flex;
    gap: 9px;
    align-items: center;
}

.lower-head__cart:hover{
    color:#0094DA;
}





/* Для главной страницы */

.body  {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 50px 0px;
}

.main-page{
    display: flex;
    flex-direction: column;
    width: 1250px;
    gap: 40px;
}
.main-page__page-name{
    align-self:flex-start;
}

.main-page__content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-for-search{
    display: flex
}

.section-for-cruise-search{
    /* width: 1250px; */
}

.wrap-for-cruise-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.form-for-search{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    flex-direction: column;
    gap: 30px;
    justify-items: center;
    grid-template-areas:
    "K K H H H"
    "A B C D E"
    "F F F F G";

}

.form-for-search__switching-cruise-type{
    display: flex;
    grid-area: K;
    width: 456px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #0094DA;
}

.form-for-search__button-to-switch-type{
    width: 50%;
    height: 35px;
    border: none;
    background-color: #fff;
    color: #0094DA;
    font-weight: bold;
}

.form-for-search__button-to-switch-type:hover{
    text-decoration:underline;
}

.form-for-search__button-to-switch-type:nth-child(1){
    width: 50%;
    height: 35px;
    border: none;
    background-color: #0094DA;
    color: #fff;
}

.form-for-search__button-to-switch-type:focus{
    color: black;
}

.form-for-search__string-of-search-parameters{
    display: flex;
    justify-content: space-around;
}

.form-for-search__wrap-for-button{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-for-search__wrap-for-button:nth-child(2){
    grid-area: A;
}

.form-for-search__wrap-for-button:nth-child(3){
    grid-area: B;
}

.form-for-search__wrap-for-button:nth-child(4){
    grid-area: C;
}

.form-for-search__wrap-for-button:nth-child(5){
    grid-area: D;
}

.form-for-search__wrap-for-button:nth-child(6){
    grid-area: E;
}

.form-for-search__label-for-button{
    font-size: 16px;
    color: #0094DA;
    font-weight: bold;
}

.form-for-search__button-for-selecting{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #0094DA;
    background-color: #fff;
    padding-left: 10px;
}

.form-for-button__placeholder-for-button{
    color:#777777;
    font-weight: bold;
}

.form-for-button__arrow-for-button{
    display: inline-flex;
    background-size:cover;
    width: 20px;
    height: 20px;
    color:#0094DA;
}

.form-for-button__the-selection-panel{
    display: none;
    position: relative;
    width: 0px;
    height: 0px;
}

.form-for-search__datepicker{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #0094DA;
    font-weight: bold;
    color: #777777;
    padding: 0px 0px 0px 10px;
}

.form-for-search__wrap-for-button-and-panel{
    display: flex;
    flex-direction: column;
}

.form-for-search__wrap-for-search-button{
    grid-area: G;
}

.form-for-button__button{
    width: 200px;
    background-color: #fff;
    height: 35px;
    border-radius: 10px;
    color: #0094DA;
    font-weight: bold;
    border: 1px solid #0094DA
}

.form-for-button__button:hover{
    background-color: #0094DA;
    color: #fff;
}


.cruise-card{
    font-family: 'Bookerly';
    font-weight: bold;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    /* background-color: #8fc5ed; */
    border: 1px solid #777777;
}

.cruise-card:hover{
    border: 1px solid #0094DA;
}

.cruise-card__wrap-for-image{
    /* width: 30%; */
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* min-width: 30%;
    max-width: 30%; */
    padding: 15px 0px 15px 15px;
}

.cruise-card__image{
    /* width:100%; */
    height:220px;
    width: 330px;
    border-radius: 5px;
    cursor: pointer;
}

.cruise-card__wrap-for-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 15px 0px 15px 20px;
    border-right: solid 1px #7D7D7D;
}

.cruise-card__name{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
    color: #0094DA;
}

.cruise-card__wrap-for-date-and-name-of-liner{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cruise-card__wrap-for-date-and-time{
    width: 51%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-right: solid 1px #7D7D7D;
    /* min-width: 50%;
    max-width: 50%; */
}

.cruise-card__first-date-and-time, .cruise-card__second-date-and-time{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}

.cruise-card__date{
    font-size: 14px;
}

.cruise-card__day-of-week-and-time{
    font-size: 13px;
}

.cruise-card__wrap-for-number-of-days{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
}

.cruise-card__arrow{
    /* background-image: url("/strelka.png"); */
    /* background-image: url("/grey-arrow.png"); */
    /* width:100%;
    height:19px;
    background-size: cover; */
    background-image: url(/grey-arrow.png);
    width: 115px;
    height: 19px;
    background-size: cover;
}

.cruise-card__number-of-days{
    font-size: 11px;
    justify-self: flex-start;
    position: relative;
    top: -10px;
}

.cruise-card__wrap-for-name-of-liner{
    width: 50%;
    display:flex;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    border-left: 2px ;
}

.cruise-card__liner-icon{
    width: 20px;
    height: 20px;
}

.cruise-card__direction{
    font-size: 16px;
    color:#0094DA;
}

.cruise-card__wrap-for-price-and-button{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    flex-grow: 1;
}

.cruise-card__prices{
    display: flex;
    flex-direction: column;
}

.cruise-card__new-price{
    font-size: 18px;
}

.cruise-card__old-price{
    text-decoration: line-through;
    font-size: 16px;
    color:#9C9C9C;
}

.cruise-card__button{
    border-radius: 5px;
    font-family: "Bookerly";
    font-size: 16px;
    text-size-adjust: 100%;
    padding: 1px 6px;
    line-height: 24px;
    background-color: #fff;
    color: #0094DA;
    font-weight: bold;
    height: 35px;
    border: 1px solid #0094DA;
}

.cruise-card__button:hover{
    background-color: #0094DA;
    color: #fff;
}

.cruise-card__remains{
    font-size: 16px;
}



/* Для страницы круиза */

.cruise-page, .ship-page, .contact-page{
    width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.cruise-page__cruise-name, .ship-page__ship-name, .contact-page__page-name{
    align-self:flex-start;
}

.cruise-page__content, .ship-page__content, .contact-page__content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.cruise-page__general-information, .ship-page__general-information{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.block-of-images{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block-of-images__main-image{
    width: 800px;
    height: 500px;
    /* background-image: url("https://raw.githubusercontent.com/Sasha0169/diploma/master/images/1.jpg");
    background-size: cover; */
    border-radius: 20px;
}

.block-of-images__images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-of-images__left-arrow, .block-of-images__right-arrow{
    width: 13px;
    height: 22px;
    
}

.block-of-images__image{
    width: 150px;
    height: 100px;
    /* background-image: url("https://raw.githubusercontent.com/Sasha0169/diploma/master/images/1.jpg"); */
    background-size: cover;
    border-radius: 4px;
}

.block-of-images__wrap-for-images{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.price-panel, .characteristics-panel{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 430px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    height: fit-content;
    border: 1px solid #74c1fc;
}

.price-panel__price{
    font-size: 23px;
    font-weight: bold;
    color:#0094DA;
}

.price-panel__old-price{
    text-decoration: line-through;
    font-size: 20px;
    color:#9C9C9C;
    font-weight: bold;
}

.price-panel__button-for-booking{
    width: 100%;
    align-self: center;
    border-radius: 5px;
    height: 35px;
    background-color: #fff;
    font-weight: bold;
    color:#0094DA;
    border: 1px solid #0094DA;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.price-panel__button-for-booking:hover{
    color: #fff;
    background-color: #0094DA;
}

.price-panel__wrap-for-liner{
    display: flex;
    gap: 5px;
}

.price-panel__liner-icon{
    width: 20px;
    height: 20px;
}

.price-panel__name-of-liner{
    text-decoration: none;
    color:#000;
}

.price-panel__name-of-liner:hover{
    color:#0094DA;
}

.price-panel__direction{

}

.price-panel__wrap-for-date-and-time{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.price-panel__first-date-and-time, .price-panel__second-date-and-time{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.price-panel__date{
    font-size: 18px;
}

.price-panel__day-of-week-and-time{
    font-size: 16px;
}

.price-panel__wrap-for-number-of-days{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
}

.price-panel__number-of-days{
    font-size: 14px;
    justify-self: flex-start;
    position: relative;
    top: -10px;
}

.price-panel__arrow{
    background-image: url(/grey-arrow.png);
    width: 130px;
    height: 20px;
    background-size: cover;
}

.cruise-page__sections, .ship-page__sections{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.page-navigation{
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.page-navigation__section{
    display: flex;
    padding: 20px 20px;
    width: 25%;
    align-items: center;
    justify-content: center;
    border-top: solid 2px #000;
    border-bottom: solid 2px #fff;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.page-navigation__section:hover{
    font-weight: bold;
    color:#0094DA;
}

.page-navigation__section_selected{
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}

.page-navigation__name-of-section{
    text-align: center;
}

.cruise-page-section, .ship-page-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cruise-page-section__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cruise-page-section__ship-link{
    font-weight: bold;
    text-decoration: none;
    color:#0094DA
}

.cruise-page-section__ship-link:hover{
    text-decoration: underline;
}

.route-point{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: solid 1px #000;
    border-radius: 14px; */
    padding: 20px 20px;
}

.route-point__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.route-point__wrap-for-date{
    display:flex;
    gap: 70px;
    align-items: center;
}

.route-point__number-of-day{
    font-size: 25px;
    font-weight: bold;
}

.route-point__date-and-day-of-week{
    font-size: 20px;
    color:#7D7D7D;
    font-weight: bold;
}

/* @keyframes slide {
    from{
        height: 140px;
    }
    to{
        height: fit-content;
    }
    
} */



.route-point__place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.route-point__wrap-for-place{
    padding: 15px 15px;
    border: solid 1px #000;
    border-radius: 14px;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    /* transition-duration: 2s;
    transition-timing-function: ease;
    transition-property: height; */
    overflow: hidden;
    gap: 30px;
}

.route-point__wrap-for-place:hover{
    border:solid 1px #0094DA;
}

/* .route-point__wrap-for-place:hover{
    height:510px;
} */

/* .route-point__name-of-place:before{
    width: 20px;
    height: 20px;
    background-image: url("images/arrow-right-for-place.png");
    background-size: cover;
} */

.route-point__wrap-for-name-of-place{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 25%;
}

.route-point__arrow{
    width: 20px;
    height: 20px;
}

.route-point__name-of-place{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
}

.route-point__wrapper-for-time{
    width:40%;
}

.route-point__description{
    display:flex;
    gap: 10px;
}

.route-point__title-for-description, .route-point__label-before-excursions{
    font-size: 20px;
    font-weight: bold;
}

.route-point__description-wrap, .route-point__wrap-for-excursions{
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.route-point__wrap-for-time{
    display: flex;
    width: 400px;
    justify-content: space-between;
    /* justify-content: center;
    gap: 50px;
    width: 30%; */
}

.route-point__arrival-time, .route-point__parking-time, .route-point__departure-time, .route-point__registration-start-time{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.route-point__name-of-time{
    font-weight: bold;
    font-size: 16px;
}

.route-point__time{
    font-size: 15px;
    color:#7D7D7D;
}



.route-point__place-image{
    /* width: 180px;
    height: 126px; */
    /* height: 90%; */
    width: 240px;
    height: 140px;
    border-radius: 5px;
}

.route-point__places{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.route-point__excursion{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding:20px 20px;
    border: 2px solid #000;
    border-radius: 5px;
}

.route-point__description-of-excursion{
    text-align: justify;
}

.cabin-prices, .cabin-prices__wrap-for-cabins{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cabin-prices__deсk{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0px 20px;
}

.cabin-prices__deck-name{
    font-size: 25px;
    font-weight: bold;

}

.cabin-prices__wrap-for-cabins{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    
}

.cabin{
    display: flex;
    padding: 15px;
    border-radius: 20px;
    border: solid 1px #000;
    flex-direction: column;
    gap:30px;
    height: 282px;
    overflow: hidden;
}

.cabin:hover{
    border: 1px solid #0094DA;
}

.cabin_for-ship{
    height: auto;
}

.cabin_for-ship .cabin__wrap-for-information{
    gap:20px;
    justify-content: flex-start;
}

.cabin__upper-part{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    gap: 20px;
}

.cabin__wrap-for-information{
    display: flex;
    flex-direction: column;
    display: flex;
    /* grid-gap: 20px; */
    /* width:100%; */
    height: 250px;
    justify-content: space-between;
    flex-grow: 1;
}

.cabin__name{
    font-size: 23px;
    font-weight: bold;
    color:#0094DA
}

.cabin__price{
    align-self: flex-end;
}

.cabin__name-of-rate{
    
}

.cabin__image{
    width:35%;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}

.cabin__wrap-for-rates{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cabin__wrap-for-rate{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.rate__name-of-rate{
    font-weight: bold;
    color:#000;
}

.rate__price{
    font-weight: bold;
    color:#777777
}

/* .rate:not(:first-child) {
    border-left: #000 solid 1px;
} */

.cabin__separator-for-rates{
    height: 100%;
    width: 0%;
    border-right:#000 solid 0.1px;
}

.cabin__wrap-for-quantity-and-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: inherit; */
}

.cabin__quantity{
    font-weight: bold;
}

.cabin__button, .cabin__button_not-working, .panel-for-booking__button{
    height: 35px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #0094DA;
    color: #0094DA;
    background-color: #fff;
    font-weight: bold;
}

.cabin__button:hover, .panel-for-booking__button:hover{
    color: #fff;
    background-color: #0094DA;
}

.cabin__button_not-working{
    border:#777777 solid 1px;
    color: #777777;
    pointer-events: none; /* отключает все события */
    cursor: default;
}

.cabin__lower-part{
    /* display: flex; */
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.cabin__wrap-for-available-places{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    /* width: 80%; */
    justify-items: center;
    align-items: center;
}

.cabin__available-place{
    border-radius:5px;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:#0094DA solid 1px;
    cursor: pointer;
    font-weight: bold;
    color:#0094DA
}

.cabin__scheme{
    align-self: center;
}

.cabin__available-place_occupied{
    border-radius:5px;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:#777777 solid 1px;
    color: #777777;
}

.cabin__available-place:hover{

    background-color: #0094DA;
    color: #fff;
}

.cabin__label-under-available-places{
    font-size: 20px;
    font-weight: bold;
}

.cabin__close-button{
    width: 20px;
    height: 20px;
    justify-self: flex-end;
}

.cabin__close-button:hover{
    fill: #74c1fc;
}

.wrap-for-panel-for-booking{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;  
    justify-content: center;
    align-items: center;
    z-index: 999;
}

@keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

.panel-for-booking{
    width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    animation: slideIn 0.5s ease-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 15px;
    gap: 20px;
}

.panel-for-booking__wrap-for-name{
    display:flex;
    gap: 20px;
    align-items: center;
}

.panel-for-booking__cabin-name{
    font-size: 20px;
    font-weight: bold;
}

.panel-for-booking__close-button{
    cursor: pointer;
}

.panel-for-booking__close-button:hover{
    fill:#0094DA;
}

.panel-for-booking__deck-name{
    font-size: 18px;
    color:#777777;
    font-weight: bold;
}

.panel-for-booking__wrap-for-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel-for-booking__description{
    text-align: justify;
}

.panel-for-booking__wrap-for-close-button{
    width: 20px;
}

.panel-for-booking__upper-part{
    display: flex;
    gap: 20px;
}

.panel-for-booking__lower-part{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.panel-for-booking__wrap-for-checkbox{
    display: none;
    gap: 20px;
}

.panel-for-booking__passenger-number{
    font-weight: bold;
}

.panel-for-booking__wrap-for-rate-of-passenger{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.panel-for-booking__wrap-for-rate-selection{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.panel-for-booking__wrap-for-button-and-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-for-booking__total{
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

@keyframes slideRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

.cart{
    display: none;
    flex-direction: column;
    width: 400px;
    background-color: #94d0fe;
    position: fixed;
    top:0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000000000;
    justify-content: space-between;
    border-radius: 20px;
    padding: 15px;
    gap:20px;
    animation: slideRight 0.5s ease-out;
}

.cart__header{
    display:flex;
    justify-content: space-between;
}

.cart__title{
    font-size: 23px;
    font-weight: bold;

}

.cart__direction-of-cruise{
    padding-left: 20px;
}

.cart__wrap-for-close-button{
    align-self: flex-start;
    height: fit-content;
    position:relative;
    right:4px;
    width: 20px;
    cursor: pointer;
}

/* .cart__wrap-for-close-button{
    color:#0094DA;
} */

.cart__close-button:hover{
    fill:#0094DA;
}


.cart__body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-self: flex-start;
    height: 100%;
    overflow: hidden;
}

.cart__information-about-cruise{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:15px;
}

.cart__wrap-for-cabins{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:10px;
    overflow-y: scroll;
    scrollbar-width: none; 
    flex-grow: 1;
}

.cart__wrap-for-total{
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
}

.cart__label-for-total{

}

.cart__total{

}

.cart__cruise-name{
    color:#000;
    text-decoration: none;
    font-size: 25px;
}

.cart__cruise-name:hover{
    color:#0094DA;
    text-decoration: underline;
}

.cart__wrap-for-date-and-time{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-self: center;
}

.cart__first-date-and-time, .cart__second-date-and-time{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.cart__date{
    font-size: 16px;
}

.cart__day-of-week-and-time{
    font-size: 14px;
}


.cart__cabin{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: solid #000 1px;
    padding: 20px;
    gap: 20px;
}

.cart__wrap-for-cabin-name{
    display:flex;
    flex-direction: column;
}

.cart__number-of-cabin-and-cabin-name{
    font-size: 20px;
}

.cart__desk-name{
    color:#777777
}

.cart__wrap-for-tourists{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
}

.cart__wrap-for-tourist{
    display:flex;
    justify-content: space-between;
}

.cart__tourist-number{
    /* width: 16%; */
}

.cart__ticket-price{
    /* width: 21%; */
    text-align: right;
}

.cart__name-of-tariff{
    max-width: 60%;
}

.cart__wrap-for-total-for-cabin{
    display:none;
    justify-content: space-between;
}

.cart__delete-button{
    width: 20px;
    height: 20px;
}

.cart__wrap-for-buttons{
    display:flex;
    gap: 20px;
    justify-self: end;
    justify-content: flex-end;
}

.cart__checkout{
    width: 100%;
    height: 40px;
    border-radius: 15px;
}

.cart__empty-cart-message{
    align-self: center;
    justify-self: center;
    font-size: 23px;
}



























/* Для страницы бронирования */

.booking-page__title, .user-account__title{
    align-self:flex-start;
}

.booking-page, .user-account{
    width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    /* padding: 40px 0px 40px 0px; */
}

.booking-page__button, .user-account__button, .entrance-panel__button{
    height: 35px;
    align-self: flex-end;
    width: 30%;
    border-radius: 5px;
    color: #0094DA;
    border: 1px solid #0094DA;
    background-color: #fff;
    font-weight: bold;
    transition: color 0.3 ease, background-color 0.3 ease;
}

.booking-page__button:hover, .user-account__button:hover, .entrance-panel__button:hover{
    color: #fff;
    background-color: #0094DA;
}

.booking-page__content, .user-account__wrap-for-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.booking-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us{
    width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* align-items: center; */
    padding: 40px 0px 40px 0px;
}

.booking-section__name-of-section{

}

.booking-section__content, .booking-section__passenger-form, .user-account__wrap-for-inputs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.booking-section__wrap-for-gender, .user-account__wrap-for-gender{
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.booking-section__wrap-for-checkboxes, .user-account__wrap-for-checkboxes{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-account__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.user-account__button{
    width: 300px;
    /* padding:10px 20px; */
    align-self: flex-end;
}

.booking-section__wrap-for-cabins{
    display:flex;
    flex-direction: column;
    gap:40px;
}

.booking-section__cabin{
    display:flex;
    flex-direction: column;
    gap:30px;
    padding: 0px 20px;
}

.booking-section__wrap-for-cabin-name{
    display:flex;
    gap: 40px;
    align-items: center;
}

.booking-section__cabin-name{
    font-size: 25px;
    font-weight: bold;
}

.booking-section__deck-name{
    font-size: 23px;
    color: #7D7D7D;
    font-weight: bold;
}

.booking-section__wrap-for-passengers{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.booking-section__passenger{
    display:flex;
    flex-direction: column;
    gap:30px;
}

.booking-section__wrap-for-passenger-tariff{
    display:flex;
    gap: 40px;
    align-items: center;
}

.booking-section__passenger-number{
    font-size: 23px;
    font-weight: bold;
}

.booking-section__tariff{
    font-size: 20px;
    font-weight: bold;
    color:#7D7D7D;
}

.booking-section__passenger-form{
    grid-template-areas:
   "A A A A "
   "B B B B "
   "C D E F"
   "G H I j";
}

.booking-section_first-section .booking-section__content, .user-account__wrap-for-inputs{
     grid-template-areas:
    "A A A A "
    "B B B B "
    "C D E F"
    "G G H I"
    "J K L M";
}



.booking-section_first-section .mb-3:nth-child(6), .user-account__content .mb-3:nth-child(6){
    grid-area: C;
}

.booking-section_first-section .mb-3:nth-child(7), .user-account__content .mb-3:nth-child(7){
    grid-area: D;
}

.booking-section_first-section .mb-3:nth-child(8), .user-account__content .mb-3:nth-child(8){
    grid-area: E;
}

.booking-section_first-section .mb-3:nth-child(9), .user-account__content .mb-3:nth-child(9){
    grid-area: F;
}

.booking-section_first-section .mb-3:nth-child(10), .user-account__content .mb-3:nth-child(10){
    grid-area: G;
}

.booking-section_first-section .mb-3:nth-child(11), .user-account__content .mb-3:nth-child(11){
    grid-area: J;
}

.booking-section_first-section .mb-3:nth-child(12), .user-account__content .mb-3:nth-child(12){
    grid-area: K;
}

.booking-section__passenger-form .mb-3:nth-child(6){
    grid-area: C;
}

.booking-section__passenger-form .mb-3:nth-child(7){
    grid-area: D;
}

.booking-section__passenger-form .mb-3:nth-child(8){
    grid-area: E;
}

.booking-section__passenger-form .mb-3:nth-child(9){
    grid-area: F;
}

.booking-section__passenger-form .mb-3:nth-child(10){
    grid-area: G;
}

.booking-section__passenger-form .mb-3:nth-child(11){
    grid-area: H;
}

.about-us__header{

}

.wrap-for-entrance-panel, .wrap-for-registration-panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;  
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.entrance-panel{
    background-color: #94d0fe;
    width: 500px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.entrance-panel__header{
    display:flex;
    justify-content: space-between;
}

.entrance-panel__wrap-for-close-button, .registration-panel__wrap-for-close-button{
    height: 20px;
    width: 20px;
    position: relative;
    top: -4px;
}

.entrance-panel__close-button, .registration-panel__close-button{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.entrance-panel__close-button:hover, .registration-panel__close-button:hover{
    fill:#0094DA;
}

.registration-panel__header{
    display: flex;
    justify-content: space-between;
}

.entrance-panel__title, .registration-panel__title{
    font-size: 30px;
    font-weight: bold;
}

.entrance-panel__label-for-section{
    font-weight: bold;
}

.entrance-panel__wrap-for-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.entrance-panel__label-for-register{
    width: 50%;
    cursor: pointer;
    color:#000;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.entrance-panel__label-for-register:hover{
    text-decoration: underline;
    color:#0094DA;
}

.entrance-panel__button{
    width: 50%;
}

.registration-panel{
    background-color: #94d0fe;
    width: 500px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.registration-panel__form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 30px;
    grid-template-areas:
   "A A"
   "B B"
   "C C"
   "D D"
   "E E"
   "F G";
}

/* .registration-panel .registration-panel__section:nth-child(5){
    grid-area: C;
} */

.registration-panel__button{
    height: 35px;
    background-color: #FFF;
    font-weight: bold;
    width:100%;
    border: 1px solid #0094DA;
    grid-area: G;
    color:#0094DA;
    border-radius: 5px;
}

.registration-panel__button:hover{
    background-color: #0094DA;
    color:#FFF;
}

.wrap-for-menu-for-user{

}

.menu-for-user{
    /* padding: 50px 0px 0px 0px; */
    position:absolute;
    top: 50px;
    z-index: 80;
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: #94d0fe;
    border-radius: 10px;
    /* margin: 20px  */
}

.menu-for-user__wrap-for-section{
    padding:15px;
    cursor: pointer;
}

.menu-for-user__wrap-for-section:hover{
    color: #0094DA;
    text-decoration: underline;
}

.cruise-page-section__header-for-cruise-map{
    font-size: 25px;
    font-weight: bold;
}

.cruise-page-section__wrap-for-cruise-map{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
}

.cruise-page-section__cruise-map{
    border:#000 solid 1px;
    border-radius: 20px;
    overflow: hidden;
    width: fit-content;
    align-self: center;
}

.ship-card{
    display: flex;
    background-color: #74c1fc;
    border-radius: 20px;
    padding: 15px 15px;
    gap: 20px;
}

.ship-card__image{
    height: 220px;
    width: 330px;
    border-radius: 5px;
}

.ship-card__title{
    font-weight: bold;
    font-size: 20px;
    height: 60px;
}

.ship-card__wrap-for-title-and-information{
    display:flex;
    flex-direction: column;
    height: auto;
    gap: 15px;
    width: 100%;
}

.ship-card__wrap-for-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ship-card__button{
    border-radius: 5px;
}

.wrap-for-ships{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 30px;
}

.ship-card__label-for-ship-class{
    background-color:#DBCE81;
    position: absolute;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.ship-card__wrap-for-years{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.ship-card__renovation, .ship-card__number-of-cabins, .ship-card__capacity{
    font-weight: bold;
    font-size: 16px;
}

.ship-card__year-of-construction{
    /* font-weight: bold; */
    font-size: 14px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  overflow: hidden;
  border:#000 solid 2px;
  border-radius: 20px;
}

.orders-table__row_header {
  background-color: #f0f0f0;
}

.orders-table__cell {
  padding: 12px;
  border: 1px solid #7D7D7D;
  text-align: center;
  font-size: 14px;
  background-color: #F1F1F1;
}

.orders-table__cell_header {
  font-weight: bold;
  background-color: #74c1fc;
}

.orders-table__cell_status {
  font-weight: bold;
}

.orders__cell_status_paid {
  color: green;
}

.orders-table__cell_status_unpaid {
  color: red;
}

.orders{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.orders__wrap-for-radiobuttons{
    display:flex;
    gap: 40px;
    font-size: 20px;
    font-weight: bold;
}

.orders__wrap-radiobutton {
  display: inline-block; /* или flex — не критично */
}

.orders__label-after-radiobutton, .orders__radiobutton {
  cursor: pointer;
}

.characteristics-panel__title{
    font-size: 20px;
    font-weight: bold;
}

.characteristics-panel__wrap-for-characteristic{
    display: flex;
    flex-direction: column;
}

.characteristics-panel__characteristic{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
}

.characteristics-panel__characteristic:not(:last-of-type){
    border-bottom: 1px solid #0094DA;
    padding: 15px 15px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: disc;
}

.list__item::marker{
    color: #0094DA;
}

.form-control:disabled{
    color: #000;
}





.footer {
    width:100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #94d0fe;
}

.footer__wrap-for-content {
    width: 1250px;
    display: flex;
    padding: 60px 57px 100px 57px;
    align-items: flex-start;
    gap: 196px;
    box-sizing: border-box;
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.footer__emblema {
    height: 80px;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-left: 0px;
}

.navigation-list__variant {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.navigation-list__link {
    color:#000;
    text-decoration: none;
}

.navigation-list__variant:hover, .contact__email:hover {
    text-decoration-line: underline;
}

.footer__title-and-arrow {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    height: 80px;
}

.footer__arrow {
    display: none;
    width: 5px;
    height: 9px;
}

.footer__column-title {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
}

.contact__title {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.contact__email {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color:#000;
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact__phone {
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.contact__working-time {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.contact__address {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.contact__wrap-for-address {
    width: 332px;
}

.navigation-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 35px 0px;
    position: fixed;
    top: 110px;
    background-color: #fff;
    display: none;
    z-index: 50;
    left: 0px;
    animation: openNavigationPanel 0.5s ease-out;
}

.navigation-panel__column {
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.navigation-panel__title {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
}

.navigation-panel__option {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #9C9C9C;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation-panel__option:hover {
    color: #0094DA;
}

.navigation-panel__wrap-for-content {
    display: flex;
    width: 1250px;
    gap: 50px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.feedback-form {
  max-width: 500px;
  padding: 40px 40px;
  background-color: #f3f3f3;
  border-radius: 15px;
  font-family: sans-serif;
  align-self: center;
  width: 500px;
}

.feedback-form__message{
    display: none;
}

.feedback-form__title {
  margin-bottom: 20px;
  text-align: center;
}

.feedback-form__field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.feedback-form__label {
  margin-bottom: 5px;
  font-weight: bold;
}

.feedback-form__input,
.feedback-form__textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback-form__textarea {
  resize: vertical;
  min-height: 100px;
}

.feedback-form__submit {
  padding: 10px;
  background-color: #0094DA;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.panel-for-confirm{
    display:none;
}

.contacts{
    display:flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 40px;
    background-color: #94d0fe;
    border-radius: 15px;
    justify-content: space-between;
}

.contacts__wrap-for-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__time{
    font-size: 20px;
    color: #777777;
    font-weight: bold;
}

.contacts__header{
    font-size: 25px;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}

.contacts__body{
    display: flex;
    flex-direction: column;
}

.contacts__email{
    font-size: 24px;
    font-weight: bold;
    color:#0094DA;
    cursor: pointer;
}

.contact-page__content{
    /* display: flex;
    justify-content: space-between;
    width: 100%; */
}

.panel-for-contacts{
    display:flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 40px;
    flex-grow: 1;
    background-color: #ECECEC;
    border-radius: 15px;
}

.panel-for-contacts__header{
    font-size: 25px;
    font-weight: bold;
}

.panel-for-contacts__wrap-for-contacts{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.panel-for-contacts__wrap-for-contact{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.panel-for-contacts__header-for-contact{
    font-size: 21px;
    font-weight: bold;
}

.panel-for-contacts__contact{
    font-size: 18px;
    font-weight: bold;
    color: #777777;
}

.panel-for-contacts__list-contacts{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: disc;
    margin: 0px 0px;
}

.panel-for-contacts__contact:marker{
    color: #0094DA;
}

.contact-page__content{
    display: flex;
}

.contact-page__section{
    display:flex;
    gap: 40px;
}

@media (max-width: 1260px) {
    .upper-head{
        display: none;
    }

    .lower-head__wrap{
        flex-shrink: 1;
        padding: 0px 40px;
    }

    .lower-head__emblem{
        display:flex;
    }

    .lower-head__entrance, .lower-head__cart, .lower-head__menu{
        display: flex;
        padding: 10px;
        background-color: #F1F1F1;
        border-radius: 5px;
    }

    .lower-head__cart-label{
        display:none;
    }

    .lower-head__categories-navigation{
        display: none;
    }

    .emblem__link{
        align-self: center;
    }

    .footer__emblema{
        height: 80px;
    }

    .footer__wrap-for-content{
        width: 100%;
        padding: 50px 40px 89px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .page__footer{
        /* background-color: #EAEAEA; */
    }

    .footer__column{
        width: 100%;
    }

    .footer__arrow{
        display: flex;
    }

    .navigation-list2{
        display: none;
    }

    .footer__contacts{
        display: none;
    }

    .body{
        padding: 50px 20px;
    }

    .booking-page, .user-account{
        width: 100%;
        flex-shrink: 1;
    }

    .booking-section_first-section .booking-section__content, .user-account__wrap-for-inputs{
        grid-template-areas:
        "A A A"
        "A A A"
        "A A A"
        "B B C"
        "D E F";
        grid-template-columns: repeat(3, 1fr);
    }

    .booking-section__wrap-for-gender, .user-account__wrap-for-gender{
        align-items: flex-start;
    }

    .booking-section_first-section .mb-3:nth-child(n + 6):nth-child(-n + 9), .user-account__content .mb-3:nth-child(6){
        grid-area:unset;
    }

    .booking-section_first-section .mb-3:nth-child(10), .user-account__content .mb-3:nth-child(10){
        grid-area: B;
    }

    .booking-section_first-section .mb-3:nth-child(11), .user-account__content .mb-3:nth-child(11){
        grid-area:D;
    }

    .booking-section_first-section .mb-3:nth-child(12), .user-account__content .mb-3:nth-child(12){
        grid-area:E;
    }

    .booking-section__wrap-for-checkboxes, .user-account__wrap-for-checkboxes{
        justify-content: space-between;
        gap: 0px;
        flex-direction: column;
    }

    .booking-section__passenger-form{
        grid-template-areas:
        "A A A"
        "A A A"
        "A A A"
        "D E F";
        grid-template-columns: repeat(3, 1fr);
    }

    .booking-section__passenger-form .mb-3:nth-child(n + 6):nth-child(-n + 9){
        grid-area: unset;
    }

    .booking-section__passenger-form .mb-3:nth-child(10){
        grid-area:D;
    }

    .booking-section__passenger-form .mb-3:nth-child(11){
        grid-area:E;
    }

    .booking-page__button{
        height: 45px;
        width: 50%;
    }

    .user-account__button{
        width: 50%;
        height: 45px;
    }
}

@media (max-width: 620px) {
    .lower-head__wrap{
        padding: 0px 20px;
    }

    .body{
        padding: 50px 20px;
    }

    .booking-section_first-section .booking-section__content, .user-account__wrap-for-inputs{
        display: flex;
    }

    .booking-section__wrap-for-gender, .user-account__wrap-for-gender{
        align-items: flex-start;
    }

    .booking-section__wrap-for-checkboxes, .user-account__wrap-for-checkboxes{
        gap: 30px;
        flex-direction: row;
    }

    .booking-section__passenger-form{
        display: flex;
    }

    .booking-page__button{
        width: 100%;
    }

    .user-account__button{
        width: 100%;
        height: 45px;
    }
} 