<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МорТур</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="/icon.png" type="image/png">
    <link rel="stylesheet" href="/datepicker.material.css">
    <script src="/datepicker.rus.js"></script>
    <link rel="stylesheet" href="/custom.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div class="header page__head">
        <div class="header__upper-head upper-head">
            <div class="upper-head__wrap">
                <div class="upper-head__wrap-for-emblem">
                    <a href="./Главная страница.html" class="emblem__link">
                        <img class="emblem" src="/emblem.png" alt="emblem__emblem">
                    </a>
                </div>
                <div class="information-and-entrance">
                    <a class="information-and-entrance__number" href="">
                        8 800 755 - 75-25
                    </a>
                    <div class="information-and-entrance__wrap-for-entrance">
                        <div class="information-and-entrance__entrance entrance">
                            <svg class="entrance__icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8 16C8 18.8284 8 20.2426 8.87868 21.1213C9.51998 21.7626 10.4466 21.9359 12 21.9827M8 8C8 5.17157 8 3.75736 8.87868 2.87868C9.75736 2 11.1716 2 14 2H15C17.8284 2 19.2426 2 20.1213 2.87868C21 3.75736 21 5.17157 21 8V10V14V16C21 18.8284 21 20.2426 20.1213 21.1213C19.3529 21.8897 18.175 21.9862 16 21.9983"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <path
                                    d="M3 9.5V14.5C3 16.857 3 18.0355 3.73223 18.7678C4.46447 19.5 5.64298 19.5 8 19.5M3.73223 5.23223C4.46447 4.5 5.64298 4.5 8 4.5"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M6 12L15 12M15 12L12.5 14.5M15 12L12.5 9.5" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <p class="entrance__text">
                                Войти
                            </p>
                        </div>
                        <div class="menu-for-user">
                            <div class="menu-for-user__wrap-for-section">
                                <span class="menu-for-user__section">Личный кабинет</span>
                            </div>
                            <div class="menu-for-user__wrap-for-section">
                                <span class="menu-for-user__section">История заказов</span>
                            </div>
                            <div class="menu-for-user__wrap-for-section">
                                <span class="menu-for-user__section">Выход</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__lower-head lower-head">
            <div class="lower-head__wrap">
                <!-- <div class="lower-head__wrap-for-left-element">
                    <button class="lower-head__button-for-navigation-menu" onclick="viewMenuNavigation()">
                        <img src="image/button-for-nav.png" alt="b">
                    </button>
                </div> -->
                <div class="lower-head__wrap-for-left-element">
                    <img src="/emblem2.png" alt="Эмблема" class="lower-head__emblem">
                </div>
                <div class="lower-head__categories-navigation categories-navigation">
                    <div class="categories-navigation__option">
                        <p class="categories-navigation__link">Круизы</p>
                    </div>
                    <div class="categories-navigation__option">
                        <p class="categories-navigation__link">Лайнеры</p>
                    </div>
                    <div class="categories-navigation__option">
                        <p class="categories-navigation__link">Скидки и акции</p>
                    </div>
                    <div class="categories-navigation__option">
                        <p class="categories-navigation__link">О компании</p>
                    </div>
                    <div class="categories-navigation__option">
                        <p class="categories-navigation__link">Контакты</p>
                    </div>
                </div>
                <div class="lower-head__wrap-for-right-element">
                    <div class="lower-head__entrance">
                        <svg class="entrance__icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 16C8 18.8284 8 20.2426 8.87868 21.1213C9.51998 21.7626 10.4466 21.9359 12 21.9827M8 8C8 5.17157 8 3.75736 8.87868 2.87868C9.75736 2 11.1716 2 14 2H15C17.8284 2 19.2426 2 20.1213 2.87868C21 3.75736 21 5.17157 21 8V10V14V16C21 18.8284 21 20.2426 20.1213 21.1213C19.3529 21.8897 18.175 21.9862 16 21.9983"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path
                                d="M3 9.5V14.5C3 16.857 3 18.0355 3.73223 18.7678C4.46447 19.5 5.64298 19.5 8 19.5M3.73223 5.23223C4.46447 4.5 5.64298 4.5 8 4.5"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M6 12L15 12M15 12L12.5 14.5M15 12L12.5 9.5" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="lower-head__cart">
                        <svg class="lower-head__cart-icon" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M19.5 9.5L18.7896 6.89465C18.5157 5.89005 18.3787 5.38775 18.0978 5.00946C17.818 4.63273 17.4378 4.34234 17.0008 4.17152C16.5619 4 16.0413 4 15 4M4.5 9.5L5.2104 6.89465C5.48432 5.89005 5.62128 5.38775 5.90221 5.00946C6.18199 4.63273 6.56216 4.34234 6.99922 4.17152C7.43808 4 7.95872 4 9 4"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4C15 4.55228 14.5523 5 14 5H10C9.44772 5 9 4.55228 9 4Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path d="M8 13V17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M16 13V17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M12 13V17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M3.864 16.4552C4.40967 18.6379 4.68251 19.7292 5.49629 20.3646C6.31008 21 7.435 21 9.68486 21H14.3155C16.5654 21 17.6903 21 18.5041 20.3646C19.3179 19.7292 19.5907 18.6379 20.1364 16.4552C20.9943 13.0234 21.4233 11.3075 20.5225 10.1538C19.6217 9 17.853 9 14.3155 9H9.68486C6.14745 9 4.37875 9 3.47791 10.1538C2.94912 10.831 2.87855 11.702 3.08398 13"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                        <span class="lower-head__cart-label">
                            Корзина
                        </span>
                    </div>
                    <div class="lower-head__menu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"
                            fill="none">
                            <path d="M4 6H20M4 12H20M4 18H20" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body page__body">
        <div class="main-page">
            <h1 class="main-page__page-name">Заказы</h1>
            <div class="main-page__content">
                <div class="orders">
                    <div class="orders__wrap-for-radiobuttons">
                        <div class="orders__wrap-radiobutton">
                            <input type="radio" checked name="sortForOrders" id="sortForOrders1" class="orders__radiobutton">
                            <label for="sortForOrders1" class="orders__label-after-radiobutton">Активные</label>
                        </div>
                        <div class="orders__wrap-radiobutton">
                            <input type="radio" name="sortForOrders" id="sortForOrders2" class="orders__radiobutton">
                            <label for="sortForOrders2" class="orders__label-after-radiobutton">Завершенные</label>
                        </div>
                        <div class="orders__wrap-radiobutton">
                            <input type="radio" name="sortForOrders" id="sortForOrders3" class="orders__radiobutton">
                            <label for="sortForOrders3" class="orders__label-after-radiobutton">Все заказы</label>
                        </div>
                    </div>
                    <table class="orders__table">
                        <thead class="orders__header">
                        <tr class="orders__row orders__row_header">
                            <th class="orders__cell orders__cell_header">Номер заказа</th>
                            <th class="orders__cell orders__cell_header">Дата и время</th>
                            <th class="orders__cell orders__cell_header">Количество туристов</th>
                            <th class="orders__cell orders__cell_header">ID Круиза</th>
                            <th class="orders__cell orders__cell_header">Начало круиза</th>
                            <th class="orders__cell orders__cell_header">Статус</th>
                            <th class="orders__cell orders__cell_header">Сумма к оплате</th>
                        </tr>
                        </thead>
                        <tbody class="orders__body">
                        <tr class="orders__row">
                            <td class="orders__cell">#123456</td>
                            <td class="orders__cell">16.05.2025 14:30</td>
                            <td class="orders__cell">2</td>
                            <td class="orders__cell">0000011</td>
                            <td class="orders__cell">27.06.2025</td>
                            <td class="orders__cell orders__cell_status orders__cell_status_unpaid">Не оплачено</td>
                            <td class="orders__cell">98 000 ₽</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="footer page__footer">
        <div class="footer__wrap-for-content">
            <div class="footer__column">
                <a href="./" class="emblem__link">
                    <img class="footer__emblema" src="/emblem2.png" alt="emblem__emblem">
                </a>
                <ul class="footer__category-navigation navigation-list navigation-list1">
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Речные круизы</a></li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Морские круизы</a>
                    </li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Лайнеры</a></li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Скидки</a></li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Акции</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <div class="footer__title-and-arrow" onclick="viewAndCloseListNavigationInFooter2()">
                    <h2 class="footer__column-title">Поддержка</h2>
                    <img class="footer__arrow" src="image/arrow-for-footer.png" alt="a">
                </div>
                <ul class="footer__support-navigation navigation-list navigation-list2">
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">О компании</a></li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Оплата</a></li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Кредит</a></li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Отмена бронирования и
                            возврат средств</a></li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Политика
                            конфиденциальности</a></li>
                    <li class="navigation-list__variant"><a href="" class="navigation-list__link">Условия продажи</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <div class="footer__title-and-arrow" onclick="viewAndCloseContactListInFooter()">
                    <h2 class="footer__column-title">Контакты</h2>
                    <img class="footer__arrow" src="image/arrow-for-footer.png" alt="a">
                </div>
                <div class="footer__contacts">
                    <div class="contact">
                        <h3 class="contact__title">
                            E-mail
                        </h3>
                        <a class="contact__email" href="">
                            MorTur@gmail.ru
                        </a>
                    </div>
                    <div class="contact">
                        <h3 class="contact__title">
                            Телефон
                        </h3>
                        <p class="contact__phone">
                            8 800 000-0000
                        </p>
                        <p class="contact__working-time">
                            Ежедневно с 9:00 до 22:00
                        </p>
                    </div>
                    <div class="contact">
                        <h3 class="contact__title">
                            Адрес
                        </h3>
                        <div class="contact__wrap-for-address">
                            <p class="contact__address">
                                ООО "ГЭЛЭКСИМАРТ", г. Москва, Волоколамское шоссе, д.1, стр. 1
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-panel">
        <div class="navigation-panel__wrap-for-content">
            <div class="navigation-panel__column">
                <h3 class="navigation-panel__title">
                    Популярные направления
                </h3>
                <a class="navigation-panel__option" href="">
                    По Енисею
                </a>
                <a class="navigation-panel__option" href="">
                    По Волге
                </a>
                <a class="navigation-panel__option" href="">
                    В Башкирию
                </a>
                <a class="navigation-panel__option" href="">
                    На Соловецкие острова
                </a>
                <a class="navigation-panel__option" href="">
                    По Каме
                </a>
                <a class="navigation-panel__option" href="">
                    По Дону
                </a>
                <a class="navigation-panel__option" href="">
                    В Москву
                </a>
                <a class="navigation-panel__option" href="">
                    Летний Байкал
                </a>
            </div>
            <div class="navigation-panel__column">
                <h3 class="navigation-panel__title">
                    Круизы по городам отправления
                </h3>
                <a class="navigation-panel__option" href="">
                    Из Москвы
                </a>
                <a class="navigation-panel__option" href="">
                    Из Санкт-Петербурга
                </a>
                <a class="navigation-panel__option" href="">
                    Из Нижнего Новгорода
                </a>
                <a class="navigation-panel__option" href="">
                    Из Казани
                </a>
                <a class="navigation-panel__option" href="">
                    Из Волгограда
                </a>
                <a class="navigation-panel__option" href="">
                    Из Перми
                </a>
                <a class="navigation-panel__option" href="">
                    Из Ярославля
                </a>
            </div>
        </div>
    </div>
    <div class="navigation-panel">
        <div class="navigation-panel__wrap-for-content">
            <div class="navigation-panel__column">
                <h3 class="navigation-panel__title">
                    Теплоходы
                </h3>
                <a class="navigation-panel__option" href="">
                    Александр Радищев
                </a>
                <a class="navigation-panel__option" href="">
                    Александр Суворов
                </a>
                <a class="navigation-panel__option" href="">
                    Виссарион Белинский
                </a>
                <a class="navigation-panel__option" href="">
                    Георгий Жуков
                </a>
                <a class="navigation-panel__option" href="">
                    Георгий Чичерин
                </a>
                <a class="navigation-panel__option" href="">
                    Зосима Шашков
                </a>
                <a class="navigation-panel__option" href="">
                    Константин Симонов
                </a>
                <a class="navigation-panel__option" href="">
                    Ленин
                </a>
            </div>
            <div class="navigation-panel__column">
                <a class="navigation-panel__option" href="/ships">
                    Все теплоходы
                </a>
            </div>
        </div>
    </div>
    <div class="wrap-for-entrance-panel">
        <div class="entrance-panel">
            <div class="entrance-panel__header">
                <span class="entrance-panel__title">
                    Вход
                </span>
                <div class="entrance-panel__wrap-for-close-button">
                    <svg class="entrance-panel__close-button" viewBox="0 0 311 311.09867"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m16.042969 311.097656c-4.09375 0-8.191407-1.554687-11.304688-4.691406-6.25-6.25-6.25-16.386719 0-22.636719l279.058594-279.058593c6.253906-6.253907 16.386719-6.253907 22.636719 0 6.25 6.25 6.25 16.382812 0 22.632812l-279.0625 279.0625c-3.136719 3.136719-7.230469 4.691406-11.328125 4.691406zm0 0" />
                        <path
                            d="m295.125 311.097656c-4.09375 0-8.191406-1.554687-11.304688-4.691406l-279.082031-279.082031c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.632813 0l279.0625 279.082031c6.25 6.25 6.25 16.386719 0 22.636719-3.136719 3.136719-7.230469 4.691406-11.308594 4.691406zm0 0" />
                    </svg>
                </div>
            </div>
            <form class="entrance-panel__form">
                <div class="mb-3 entrance-panel__section">
                    <label for="exampleInputEmail1" class="form-label entrance-panel__label-for-section">Адрес
                        электронной почты</label>
                    <input type="email" class="form-control entrance-panel__input-for-section" id="exampleInputEmail1"
                        aria-describedby="emailHelp" value="scfe@mail.ru">
                </div>
                <div class="mb-3 entrance-panel__section">
                    <label for="exampleInputPassword1"
                        class="form-label entrance-panel__label-for-section">Пароль</label>
                    <input type="password" class="form-control entrance-panel__input-for-section"
                        id="exampleInputPassword1" value="01gd4545df">
                </div>
                <div class="mb-3 form-check entrance-panel__section-for-checkbox">
                    <input type="checkbox" class="form-check-input entrance-panel__checkbox" id="exampleCheck1">
                    <label class="form-check-label entrance-panel__label-for-section" for="exampleCheck1">Запомнить
                        меня</label>
                </div>
                <div class="entrance-panel__wrap-for-buttons">
                    <button type="submit" class="entrance-panel__button">Отправить</button>
                    <a class="entrance-panel__label-for-register">Регистрация</a>
                </div>
                
            </form>
        </div>
    </div>
    <div class="wrap-for-registration-panel">
        <div class="registration-panel">
            <div class="registration-panel__header">
                <span class="registration-panel__title">Регистрация</span>
                <div class="registration-panel__wrap-for-close-button">
                    <svg class="registration-panel__close-button" viewBox="0 0 311 311.09867"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke="currentColor"
                            d="m16.042969 311.097656c-4.09375 0-8.191407-1.554687-11.304688-4.691406-6.25-6.25-6.25-16.386719 0-22.636719l279.058594-279.058593c6.253906-6.253907 16.386719-6.253907 22.636719 0 6.25 6.25 6.25 16.382812 0 22.632812l-279.0625 279.0625c-3.136719 3.136719-7.230469 4.691406-11.328125 4.691406zm0 0" />
                        <path stroke="currentColor"
                            d="m295.125 311.097656c-4.09375 0-8.191406-1.554687-11.304688-4.691406l-279.082031-279.082031c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.632813 0l279.0625 279.082031c6.25 6.25 6.25 16.386719 0 22.636719-3.136719 3.136719-7.230469 4.691406-11.308594 4.691406zm0 0" />
                    </svg>
                </div>
            </div>
            <form class="registration-panel__form">
                <div class="mb-3 registration-panel__section">
                    <label for="exampleFormControlInput1" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Иванов">
                </div>
                <div class="mb-3 registration-panel__section">
                    <label for="exampleFormControlInput1" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Иван">
                </div>
                <div class="mb-3 registration-panel__section">
                    <label for="exampleFormControlInput1" class="form-label">Отчество</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Иванович">
                </div>

                <div class="registration-panel__wrap-for-gender">
                    <label for="exampleFormControlInput1" class="form-label">Пол</label>
                    <div class="booking-section__wrap-for-checkboxes">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Мужской
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Женский
                            </label>
                        </div>
                    </div>
                </div>
                <!-- <div class="mb-3 form-check registration-panel__section-for-checkbox">
                    <input type="checkbox" class="form-check-input entrance-panel__checkbox" id="exampleCheck1">
                    <label class="form-check-label entrance-panel__label-for-section" for="exampleCheck1">Нет отчества</label>
                </div> -->
                <div class="mb-3 registration-panel__section">
                    <label for="exampleFormControlInput1" class="form-label">Дата рождения</label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                </div>
                <div class="mb-3 registration-panel__section">
                    <label for="exampleFormControlInput1" class="form-label">Гражданство</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Россия</option>
                        <option value="1">США</option>
                        <option value="2">Англия</option>
                        <option value="3">Польша</option>
                    </select>
                </div>
                <div class="mb-3 registration-panel__section">
                    <label for="exampleFormControlInput1" class="form-label">Номер телефона</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="+ 7 (999) 999-9999 ">
                </div>
                <div class="mb-3 registration-panel__section">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="MorTur@gmail.ru">
                </div>
                <div class="mb-3 registration-panel__section">
                    <label for="exampleInputPassword1"
                        class="form-label registration-panel__label-for-section">Пароль</label>
                    <input type="password" class="form-control registration-panel__input-for-section"
                        id="exampleInputPassword1">
                </div>
                <div class="mb-3 registration-panel__section">
                    <label for="exampleInputPassword1" class="form-label registration-panel__label-for-section">Повторите
                        пароль</label>
                    <input type="password" class="form-control registration-panel__input-for-section"
                        id="exampleInputPassword1">
                </div>
                <button type="submit" class="registration-panel__button">Отправить</button>
            </form>
        </div>
    </div>
    <div class="panel-for-confirm">
        <div class="panel-for-confirm__header">
            <span class="panel-for-confirm__title">Подтверждение почты</span>
            <svg class="panel-for-confirm__close-button" viewBox="0 0 311 311.09867"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke="currentColor"
                    d="m16.042969 311.097656c-4.09375 0-8.191407-1.554687-11.304688-4.691406-6.25-6.25-6.25-16.386719 0-22.636719l279.058594-279.058593c6.253906-6.253907 16.386719-6.253907 22.636719 0 6.25 6.25 6.25 16.382812 0 22.632812l-279.0625 279.0625c-3.136719 3.136719-7.230469 4.691406-11.328125 4.691406zm0 0" />
                <path stroke="currentColor"
                    d="m295.125 311.097656c-4.09375 0-8.191406-1.554687-11.304688-4.691406l-279.082031-279.082031c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.632813 0l279.0625 279.082031c6.25 6.25 6.25 16.386719 0 22.636719-3.136719 3.136719-7.230469 4.691406-11.308594 4.691406zm0 0" />
            </svg>
        </div>
        <input type="text" class="panel-for-confirm__input-for-code">
    </div>
    <div class="cart">
        <div class="cart__header">
            <div class="cart__title">
                Корзина
            </div>
            <div class="cart__wrap-for-close-button">
                <svg class="cart__close-button" viewBox="0 0 311 311.09867" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="currentColor"
                        d="m16.042969 311.097656c-4.09375 0-8.191407-1.554687-11.304688-4.691406-6.25-6.25-6.25-16.386719 0-22.636719l279.058594-279.058593c6.253906-6.253907 16.386719-6.253907 22.636719 0 6.25 6.25 6.25 16.382812 0 22.632812l-279.0625 279.0625c-3.136719 3.136719-7.230469 4.691406-11.328125 4.691406zm0 0" />
                    <path stroke="currentColor"
                        d="m295.125 311.097656c-4.09375 0-8.191406-1.554687-11.304688-4.691406l-279.082031-279.082031c-6.25-6.253907-6.25-16.386719 0-22.636719s16.382813-6.25 22.632813 0l279.0625 279.082031c6.25 6.25 6.25 16.386719 0 22.636719-3.136719 3.136719-7.230469 4.691406-11.308594 4.691406zm0 0" />
                </svg>
            </div>
        </div>
        <div class="cart__body">
            <span class="cart__cruise-name">Восточная сказка</span>
            <div class="cart__information-about-cruise">
                <span class="cart__direction-of-cruise">Москва &mdash; Казань &mdash; Москва</span>
                <div class="cart__wrap-for-date-and-time">
                    <div class="cart__first-date-and-time">
                        <span class="cart__date">
                            25 апр 2025
                        </span>
                        <span class="cart__day-of-week-and-time">
                            пт, 10:00
                        </span>
                    </div>
                    <div class="cart__wrap-for-number-of-days">
                        <div class="cart__arrow">

                        </div>
                        <span class="cart__number-of-days">
                            100 дней
                        </span>
                    </div>
                    <div class="cart__second-date-and-time">
                        <span class="cart__date">
                            25 апр 2025
                        </span>
                        <span class="cart__day-of-week-and-time">
                            пт, 10:00
                        </span>
                    </div>
                </div>
            </div>
            <div class="cart__wrap-for-cabins">
            </div>

        </div>
        <div class="cart__footer">
            <div class="cart__total"></div>
            <button class="cart__checkout">
                Перейти к бронированию
            </button>
        </div>
    </div>
    <div class="wrap-for-panel-for-booking">
        
    </div>
    
    <script src="/script.js"></script> 
    <script src="/orders.js"></script> 
</body>
</html>